# Read and test data from the DWH

In [1]:
# Import libraries
import pandas as pd
import boto3
import json
import psycopg2
import configparser

In [2]:
# Load DWH parameters from a config file
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

# User key access :
KEY                    = config.get('AWS','KEY')    # Key ID from IAM user
SECRET                 = config.get('AWS','SECRET') # Key secret ID from IAM user

# Get connection to the DB :
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_ENDPOINT           = config.get("CLUSTER","HOST")

# IAM role
DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

# Generate a dataframe with informations in top :
pd.DataFrame({"Param":
                  ["DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0  DWH_CLUSTER_IDENTIFIER  dwhCluster
1                  DWH_DB         dwh
2             DWH_DB_USER     dwhuser
3         DWH_DB_PASSWORD    Passw0rd
4                DWH_PORT        5439
5       DWH_IAM_ROLE_NAME     dwhRole

In [3]:
# Test connection 
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
%sql $conn_string

'Connected: dwhuser@dwh'

In [4]:
# Check the schema
%sql SELECT distinct tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('song',),
 ('songplays',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [5]:
# Check staging_events table
%sql SELECT * FROM staging_events LIMIT 1

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, 1541207073796, None, None)]

In [6]:
# Check staging_songs table
%sql SELECT * FROM staging_songs LIMIT 1

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1, 'ARPLTRF11E8F5C15C5', None, None, 'United States', 'Lost Immigrants', 'SOWCWAD12AB017FD51', 'Memories & Rust', Decimal('222'), 0)]

In [12]:
# Check the number of rows in artists table
%sql SELECT count(artist_id) FROM artists

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [13]:
# Check the number of rows in song table
%sql SELECT count(song_id) FROM song

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [14]:
# Check the number of rows in songplays table
%sql SELECT count(songplay_id) FROM songplays

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [15]:
# Check the number of rows in time table
%sql SELECT count(start_time) FROM time

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [16]:
# Check the number of rows in users table
%sql SELECT count(user_id) FROM users

 * postgresql://dwhuser:***@dwhcluster.cjtogijs923b.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(105,)]